trigger:
  branches:
    include:
    - master
  paths:
    include:
    - modules/influxdb/*

pr:
  autoCancel: true

jobs:
- template: ../templates/azure-pipelines-module-build
  parameters:
    registryName: $(registryName)
    imageName: influxdb
    repository: offline-dashboarding/influxdb
    variableGroupName: edge-deployment-settings
    workingDirectory: ./modules/influxdb
