trigger:
  branches:
    include:
    - master
  paths:
    include:
    - modules/influxdb/*

pr:
  autoCancel: true

variables:
  repository: offline-dashboarding/influxdb
  version: $(Build.BuildNumber)
  containerPath: $(registryName).azurecr.io/$(repository):$(version)

steps:
- task: AzureCLI@2
  inputs:
    workingDirectory: ./modules/influxdb
    azureSubscription: $(azureSubscription)
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    inlineScript: |
      set -e -x
      
      export AZURE_DEVOPS_EXT_PAT=$(System.AccessToken)
      
      az acr login -n $(registryName)
      docker build . -t $(containerPath)
      docker push $(containerPath)

      GROUP_ID= `az pipelines variable-group update \
        --org "$(System.TeamFoundationCollectionUri)" \
        --project "$(System.TeamProject)" \
        --name "edge-deployment-settings" \
        --query [0].id`
      
      az pipelines variable-group variable update \
        --org "$(System.TeamFoundationCollectionUri)" \
        --project "$(System.TeamProject)" \
        --group-id $GROUP_ID
        --name "INFLUXDB_TAG" \
        --value $(Build.BuildNumber)




      
