trigger:
  batch: true
  branches:
    include:
    - master
  paths:
    include:
    - azure-pipelines.yml

pr:
  autoCancel: true

variables:
  - group: edge-deployment-settings

# Trigger a deployment on any pipeline completion
resources:         
  pipelines:
  - pipeline: node_red
    source: Module - Node-RED
  - pipeline: grafana
    source: Module - Grafana
  - pipeline: influxdb
    source: Module - InfluxDB
   
stages:
- stage: Build
  jobs:
  - job: Build
    steps:

    # Generate the deployment manifest
    - task: AzureIoTEdge@2
      displayName: Generate deployment manifest
      inputs:
        action: Generate deployment manifest
        templateFilePath: deployment.template.json
        defaultPlatform: 'amd64'
        deploymentManifestOutputPath: $(Build.ArtifactStagingDirectory)/deployment.json
        validateGeneratedDeploymentManifest: 'true'

    # Publish the deployment manifest as a pipeline artifact
    - publish: $(Build.ArtifactStagingDirectory)
      artifact: config

- stage: Release
  jobs:
  - job: Release
    steps:
    # Download deployment manifest from build stage
    - download: current
      artifact: config

    # Deploy to edge
    - task: AzureIoTEdge@2
      displayName: Create Deployment
      inputs:
        action: Deploy to IoT Edge devices
        deploymentFilePath: $(Pipeline.Workspace)/config/deployment.json
        azureSubscription: $(azureSubscription)
        iothubname: jl-demo-iot-dev
        deploymentid: offline-dashboard
        priority: '10'
        deviceOption: Multiple Devices
        targetcondition: '*'
