trigger:
  batch: true
  branches:
    include:
    - master
  paths:
    include:
    - azure-pipelines.yml

pr:
  autoCancel: true

variables:
  INFLUXDB_TAG: 20200421.15
  GRAFANA_TAG: 20200429.1
  NODE_RED_TAG: 20200429.1
  OPC_UA_SERVER_TAG: 1.0.0
  CONTAINER_REGISTRY_ADDRESS: $(registryName).azurecr.io
  CONTAINER_REGISTRY_USERNAME: $(registryName)
  CONTAINER_REGISTRY_PASSWORD: 

stages:
- stage: Build
  jobs:
  - job: Build
    steps:

    # Set environment variables to be used by the Edge deployment manifest generattor
    - task: AzureCLI@2
      displayName: Export configuration
      inputs:
        azureSubscription: $(azureSubscription)
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          PASSWORD=`az acr credential show -n jldemoacrdev --query passwords[1].value | tr -d '"'`
          echo "##vso[task.setvariable variable=CONTAINER_REGISTRY_PASSWORD]$PASSWORD"
    - script: |
        set -e -x
        echo $INFLUXDB_TAG
        echo $GRAFANA_TAG
        echo $NODE_RED_TAG
        echo $CONTAINER_REGISTRY_ADDRESS
        echo $CONTAINER_REGISTRY_USERNAME
        echo $CONTAINER_REGISTRY_PASSWORD

    # Generate our deployment manifest
    - task: AzureIoTEdge@2
      displayName: Generate deployment manifest
      inputs:
        action: Generate deployment manifest
        templateFilePath: deployment.template.json
        defaultPlatform: 'amd64'
        deploymentManifestOutputPath: $(Build.ArtifactStagingDirectory)/deployment.json
        validateGeneratedDeploymentManifest: 'true'

    # Publish deployment manifest as a pipeline artifact
    - publish: $(Build.ArtifactStagingDirectory)
      artifact: config

- stage: Release
  jobs:
  - job: Release
    steps:
    # Download deployment manifest from build stage
    - download: current
      artifact: config

    # Deploy to edge
    - task: AzureIoTEdge@2
      displayName: Create Deployment
      inputs:
        action: Deploy to IoT Edge devices
        deploymentFilePath: $(System.DefaultWorkingDirectory)/config/deployment.json
        azureSubscription: $(azureSubscription)
        iothubname: jl-demo-iot-dev
        deploymentid: offline-dashboard
        priority: '10'
        deviceOption: Multiple Devices
        targetcondition: '*'
