trigger:
  branches:
    include:
    - master
  paths:
    include:
    - modules/node-red/*
    - templates/azure-pipelines-module-build.yml

pr:
  autoCancel: true

jobs:
- template: ../../templates/azure-pipelines-module-build.yml
  parameters:
    registryName: $(CONTAINER_REGISTRY_NAME)
    repositoryName: offline-dashboarding
    imageName: node-red
    variableGroupName: edge-deployment-settings
    workingDirectory: ./modules/node-red
    azureSubscription: $(azureSubscription)
